@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.container {
    margin: 30px 100px;
    height: 200px;
    display: flex;
    box-shadow: 15px 10px 40px #0005;
}

.categoria {
    font-family: 'Tilt Warp', cursive;
    background-color: #00334D;
    color: #FFF;
    min-width: 230px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.curso {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}

.curso h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #000;
    margin-right: 20px;
}

.curso span {
    color: #434343;
    font-size: 20px;
}


@media (max-width: 826px) {

    .curso {
        padding: 15px;
    }
    
    .curso h1 {
        display: flex;
        border: none;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0%;
        max-width: 250px;
        margin: 0 50%;
        min-height: 200px;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .categoria {
        flex-grow: 1;
        max-width: 250px;
        padding: 70px 0;
    }
    
    .curso {
        max-width: 250px;
        flex-grow: 1;
        margin-left: 2px;
        border-bottom: 1px solid #0005;
        margin-bottom: 20px;
    }
}