.container {
    display: flex;
}

.title {
    margin-bottom: 20px;
}

.table {
    display: flex;
    justify-content: flex-start;
}

.table tbody {
    margin: 15px 35px 0 0;
}

.table thead {
    margin-top: 15px;
}

@media (max-width: 600px) {

    .table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


@media (max-width: 490px) {

    .table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .table tr {
        font-size: 13px;
    }
}