@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    margin: 70px 80px 0 80px;
    height: 100%;
    border: 10px;
    box-shadow: 5px 5px 20px var(--shadow);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    background-color: var(--back-secundario);
}

.container section {
    width: 450px;
}

.title {
    margin-bottom: 20px;
}

/* SOBRE */
.lista {
    width: auto;
    padding: 10px;
}

.lista ul {
    margin-left: 20px;
}

.lista ul li {
    margin: 10px 0 0 20px;
}

.observacao {
    margin: 20px 0 20px 20px;
}

.informacao {
    width: auto;
}

@media (max-width: 460px) {
    .lista {
        padding: 0%;
    }

    .lista ul {
        margin: 0%;
    }

    .observacao {
        margin-bottom: 25px;
    }
}